/* HEADER */

body {
    background-color: #fff;
}

.d-inline {
    list-style: none;
}

.d-inline-item {
    display: inline;
}

.mr-2 {
    margin-right: .5rem
}


.greennature-logo {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 25px;
}


/* SLIDERS */

.banner-default {
    font-family: "Lato";
    font-weight: 300;
    font-size: 57px;
    line-height: normal;
    color: #ffffff;
}

/* CONTAINER SECTION 5 */

.video-wrapper {
    left: 0px !important;
    top: 20px;
}

/* HEADER */

.greennature-header-wrapper.header-style-5-wrapper{
    position: relative;
}

.greennature-header-inner, .greennature-header-wrapper.header-style-5-wrapper .greennature-header-inner {
    /* background-color: rgb(37, 53, 38); */
    background-color: #17565b;
}

/* MAPA */
.greennature-full-size-wrapper .gdlr-show-all .no-skin {
    padding-top: 0px !important;
}

/* CONTATO */
.greennature-box-with-icon-item ul li {
    text-align: initial;
    list-style: none;
}

/* MAIN BANNER */
#greennature-parallax-wrapper-1:before {
    background-color: rgba(0, 0, 0, 0.5);
}

/* MODAL */
.modal {
    top: 25% !important;
}

/* HOME CTAS */
.greennature-action-ads-item {
    min-height: 300px;
}

.greennature-logo-inner {
    max-width: 100px;
}

/* MAINBANNER */
.mainbanner {
    background-position: right 0px;
    background-repeat: no-repeat;
}

.mainbanner-title, .mainbanner-subtitle {
    display: block !important;
}

.top-navigation-wrapper {
    padding: 10px;
}

ul.d-inline {
    margin: auto;
}

.no-margin, .greennature-form-fields .columns-wrap.greennature-left {
    margin-right: 0px !important;
    margin-left: 15px !important;
}

/* .action-ads-content-personalizado {
    position: absolute;
    bottom: 80px;
} */

.bioforca-card {
    min-height: 430px;
    margin-bottom: 35px;
}

.thumb-personalizada {
    height: 450px;
}

.bio-descricao {
    margin-bottom: 5rem;
}

.custom-bg {
    background-position: right;
}

.gdl-search-form input[type="submit"] {
    background-image: url('../img/icon-search.png');
}

.search-image {
    height: 200px;
}

.search-wrapper > .column {
    margin-top: 35px;
    margin-bottom: 35px;
}

.greennature-blog-content {
    margin-top: 35px;
}

.greennature-blog-content p {
    font-size: 16px;
}

.custom-bg {
    margin: 55px;
}

/* .greennature-blog-full .greennature-blog-thumbnail {
    height: 400px;
} */


.img-galery {
    margin: 15px 0px;
}


.action-ads-button.large.greennature-button:hover {
    background-color: #fff !important;
    transition: .2s ease;
    color: #6d5b1c !important;
}

.greennature-logo-inner {
    max-width: 120px;
}
